<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybersecurity Tools</title>
</head>
<body>
    <h1>Welcome to Cybersecurity Tools</h1>
    <p>Select an option:</p>
    <ul>
        <li><a href="/reputationcheck">Option 1: Reputation/Blocklist Check (IPs, Domains, URLs, Hashes)</a></li>
        <li><a href="/headeranalysis">Option 2: Header Analysis - Offline Phishing Email Header Details</a></li>
        <li><a href="/dnswhois">Option 3: DNS WHOIS - DNS, Whois Details</a></li>
        <li><a href="/latestcve">Option 4: Latest CVE - Latest One Week CVE Details</a></li>
        <li><a href="/cybersecuritynews">Option 5: Cybersecurity News</a></li>
        <li><a href="/exit">Option 0: Exit Tool</a></li>
    </ul>
</body>
</html>

